# Node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Logs
logs
*.log
logs/*.log
npm-debug.log*

# Build outputs
dist/
build/
coverage/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Docker
docker-compose.override.yml
Dockerfile.dev
.docker/

# Frontend specific
/frontend/dist
/frontend/node_modules
/frontend/.env
/frontend/.env.prod


# Backend specific
/backend/node_modules
/backend/.env
/backend/.env.prod


# Misc
*.local
*.log

# Tests
.vitest

# VS Code workspace
*.code-workspace
