version: "3.9"

services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-network

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    env_file:
      - "./backend/.env.prod"
    networks:
      - mern-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "8000:80"
    depends_on:
      - backend
    env_file:
      - "./frontend/.env.prod"
    networks:
      - mern-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - "./frontend/.env.prod"         # <-- SSL paths loaded from .env.prod
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - backend
    networks:
      - mern-network
    restart: unless-stopped

volumes:
  mongo-data:

networks:
  mern-network:
    driver: bridge
