version: "3.9"

services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-network

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    env_file:
      - "./backend/.env.prod"  
    networks:
      - mern-network

 
  frontend:
    build:
      context: ./frontend
    ports:
      - "8000:80"
    depends_on:
      - backend
    env_file:
      - "./frontend/.env.prod" 
    networks:
      - mern-network

volumes:
  mongo-data:

networks:
  mern-network:
    driver: bridge










