name: MERN CI

on:
  push:
    branches:
      - main

jobs:
 
  unit-test-backend:
    runs-on: ubuntu-latest
    
    services:
      mongo:
        image: mongo:latest
        ports:
          - 27017:27017

    env:
      PORT: ${{ secrets.PORT }}
      MONGO_URI: ${{ secrets.MONGO_URI }}

    steps:
      - name: Checkout code repository into ubuntu server
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Wait for MongoDB to be ready
        run: |
          until nc -z localhost 27017; do
            echo "Waiting for MongoDB..."
            sleep 2
          done

      - name: Install dependencies for backend & run unit tests
        working-directory: ./backend
        run: |
          npm install
          npm test
